.admin-dashboard-child {
  position: absolute;
  top: -25px;
  left: -11px;
  background-color: var(--color-gray);
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  width: 1533px;
  height: 114px;
}
.bell,
.vector-icon {
  position: absolute;
  top: 23.73%;
  left: 2.38%;
  width: 0;
  height: 0;
}
.bell {
  width: 2.05%;
  height: 3.51%;
  top: 2.44%;
  right: 9.19%;
  bottom: 94.05%;
  left: 88.76%;
}
.water-web {
  position: absolute;
  top: 26px;
  left: 40px;
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-white);
}
.admin-dashboard-item {
  position: absolute;
  top: 121px;
  left: 320px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 1059px;
  height: 112px;
}
.dashboard {
  position: absolute;
  top: 161px;
  left: 1163px;
  font-size: 29px;
  text-transform: capitalize;
  color: var(--color-black);
}
.past-card-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 1053px;
  height: 694.75px;
}
.view-all-complaints,
.view-current-and {
  position: absolute;
  left: 82.59px;
  text-transform: capitalize;
  color: var(--color-black);
  display: inline-block;
}
.view-all-complaints {
  top: 22.89px;
  font-size: 28px;
  font-weight: 600;
  width: 547.15px;
  height: 38px;
}
.view-current-and {
  top: 69.83px;
  font-size: 13px;
  width: 937.38px;
  height: 22.35px;
}
.past-card-item {
  position: absolute;
  top: 156.02px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 1054px;
  height: 1px;
}
.line-div,
.past-card-child1,
.past-card-child2,
.past-card-child3,
.past-card-child4,
.past-card-child5,
.past-card-child6,
.past-card-inner {
  position: absolute;
  top: 221.66px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 1054px;
  height: 1px;
}
.line-div,
.past-card-child1,
.past-card-child2,
.past-card-child3,
.past-card-child4,
.past-card-child5,
.past-card-child6 {
  top: 286.28px;
}
.past-card-child1,
.past-card-child2,
.past-card-child3,
.past-card-child4,
.past-card-child5,
.past-card-child6 {
  top: 350.91px;
}
.past-card-child2,
.past-card-child3,
.past-card-child4,
.past-card-child5,
.past-card-child6 {
  top: 419.58px;
}
.past-card-child3,
.past-card-child4,
.past-card-child5,
.past-card-child6 {
  top: 488.25px;
}
.past-card-child4,
.past-card-child5,
.past-card-child6 {
  top: 556.91px;
}
.past-card-child5,
.past-card-child6 {
  top: 625.58px;
}
.past-card-child6 {
  top: 694.24px;
}
.pending {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 115.12px;
  left: 158.98px;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-steelblue);
  text-align: left;
  display: inline-block;
  width: 161.05px;
  height: 22.22px;
}
.past-card-child7 {
  position: absolute;
  top: 155.13px;
  left: 117.5px;
  border-top: 3px solid var(--color-steelblue);
  box-sizing: border-box;
  width: 159.92px;
  height: 3px;
}
.in-progress {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 116.63px;
  left: 472px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray);
  text-align: left;
  width: 101px;
}
.filter-by,
.in-progress,
.solved {
  position: absolute;
  text-transform: capitalize;
  display: inline-block;
  height: 20px;
}
.solved {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 118.63px;
  left: 811px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray);
  text-align: left;
  width: 62px;
}
.filter-by {
  top: 42.63px;
  left: 814px;
  text-decoration: underline;
  width: 81px;
}
.complaint-id {
  top: 179.63px;
  left: 128px;
  color: var(--color-gray);
  width: 112px;
}
.complaint-id,
.location,
.lorem-impsum {
  position: absolute;
  text-transform: capitalize;
  display: inline-block;
  height: 20px;
}
.location {
  top: 179.63px;
  left: 475px;
  color: var(--color-gray);
  width: 79px;
}
.lorem-impsum {
  top: 244.63px;
  left: 779px;
  font-weight: 600;
  width: 128px;
}
.lorem-impsum1 {
  top: 241.63px;
  left: 453px;
  font-weight: 600;
  width: 262.22px;
  height: 20.2px;
}
.date,
.lorem-impsum1,
.lorem-impsum2 {
  position: absolute;
  text-transform: capitalize;
  display: inline-block;
}
.lorem-impsum2 {
  top: 244.63px;
  left: 119px;
  font-weight: 600;
  width: 262.22px;
  height: 20.2px;
}
.date {
  top: 179.63px;
  left: 816px;
  color: var(--color-gray);
  width: 52px;
  height: 20px;
}
.past-card {
  position: absolute;
  top: 255.37px;
  left: 320px;
  width: 1053px;
  height: 694.75px;
  color: var(--color-dimgray);
}
.home {
  position: absolute;
  top: 6px;
  left: 42px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 134px;
  height: 23px;
}
.vector-icon1 {
  position: absolute;
  height: 79.31%;
  width: 17.05%;
  top: 0;
  right: 82.95%;
  bottom: 20.69%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-parent {
  position: absolute;
  top: 189px;
  left: 40px;
  width: 176px;
  height: 29px;
}
.file-a-grievance {
  position: absolute;
  top: 5px;
  left: 38px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 159px;
  height: 23px;
}
.vector-icon2 {
  position: absolute;
  height: 92.86%;
  width: 13.2%;
  top: 0;
  right: 86.8%;
  bottom: 7.14%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.file-a-grievance-parent,
.general {
  position: absolute;
  top: 235px;
  left: 42px;
  width: 197px;
  height: 28px;
}
.general {
  top: 5px;
  left: 37px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 149px;
  height: 23px;
}
.vector-icon3 {
  position: absolute;
  height: 100%;
  width: 12.9%;
  top: 0;
  right: 87.1%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.general-parent,
.vector-icon4 {
  position: absolute;
  top: 284px;
  left: 42px;
  width: 186px;
  height: 28px;
}
.vector-icon4 {
  height: 86.96%;
  width: 18.37%;
  top: 0;
  right: 81.63%;
  bottom: 13.04%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard1 {
  position: absolute;
  top: 0;
  left: 39px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 108px;
  height: 23px;
}
.vector-parent {
  position: absolute;
  height: 2.34%;
  width: 9.72%;
  top: 15.17%;
  right: 87.3%;
  bottom: 82.48%;
  left: 2.98%;
  color: var(--color-gray);
}
.filter {
  position: absolute;
  top: 306px;
  left: 653px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-white);
}
.admin-dashboard-inner {
  position: absolute;
  top: 297px;
  left: 785px;
  border-radius: var(--br-3xs);
  width: 237px;
  height: 21px;
}
.search {
  border: none;
  background-color: transparent;
  height: 17px; 
  width: 200px;
  font-weight: 600;
  font-family: var(--font-montserrat);
  font-size: 12px;
  position: absolute;
  top: 299px;
  left: 811px;
  text-transform: capitalize;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.logo-1-3 {
  position: absolute;
  top: 128px;
  left: 354px;
  width: 214px;
  height: 98px;
  object-fit: cover;
}
.icon-user {
  position: absolute;
  height: 3.16%;
  width: 2.25%;
  top: 2.34%;
  right: 3.64%;
  bottom: 94.5%;
  left: 94.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.admin-dashboard {
  position: relative;
  background-color: #bad7e9;
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-slategray);
  font-family: var(--font-montserrat);
}
