@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-base: 16px;

  /* Colors */
  --color-darkslategray: #152e46;
  --color-lavender-100: #d3dfec;
  --color-slategray-100: #55697d;
  --color-white: #fff;
  --color-gray: #0d1e3f;

  /* Border radiuses */
  --br-3xs: 10px;
}
