@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-lightslategray: #949fb5;

  /* Border radiuses */
  --br-3xs: 10px;
}
